$base-dark-blue: #10132F;
$white: #FFFFFF;
$main-black: black;
$border-blue: #2F80EC;
$dark-grey: #191B2D;
$grey: #8D8F8D;
$dark-grey: #191B2D;
$grey: #8D8F8D;
$green: #2CB57F;
$cloud-light-blue: #D8ECFE;