$base-dark-blue: #10132F;
$white: #FFFFFF;
$main-black: black;
$border-blue: #2F80EC;
$dark-grey: #191B2D;
$grey: #8D8F8D;
$green: #2CB57F;
$light-blue: #D8ECFE;
$light-blue-70:#D8ECFEB2;
$border-blue-64: #2F80ECA3;