@mixin belota-700-47 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    font-size: 47px;
}

@mixin belota-700-34 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
}

@mixin belota-700-33 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
}

@mixin belota-700-30 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

@mixin belota-700-25 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

@mixin belota-700-24 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

@mixin belota-700-19 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
}

@mixin belota-700-15 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}

@mixin belota-700-12 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
}

@mixin belota-400-18 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 18px;
}

@mixin belota-400-17 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 17px;
}

@mixin belota-400-15 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 15px;
}

@mixin belota-400-14 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 14px;
}


@mixin belota-400-12 {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 12px;
}

@mixin shnobel-400-23 {
    font-family: 'Shnobel', sans-serif;
    font-size: 23px;
}

@mixin shnobel-400-20 {
    font-family: 'Shnobel', sans-serif;
    font-size: 20px;
}

@mixin shnobel-400-17 {
    font-family: 'Shnobel', sans-serif;
    font-size: 17px;
}

@mixin shnobel-400-15 {
    font-family: 'Shnobel', sans-serif;
    font-size: 15px;
}