$base-color: #10132F;
$light-color-white: #FFFFFF;
$dark-color: black;
$blue-color: #2F80EC;


@mixin reset-list-style {
    list-style-type: none;
}

@mixin belota-text-font-weight400-font-size18px {
    font-family: 'Bellota Text', cursive;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    
@mixin flex-space-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: $base-color;
    @include belota-text-font-weight400-font-size18px();
}

li {
    @include reset-list-style();
}

a {
    color: $light-color-white;
    text-decoration: none;
}

.header {
    margin-top: 3rem;

    &__container {
        max-width: 1292px;
        height: 48px;
    }
}

.navbar {
    font-size: 0.875rem;
    @include flex-row-space-between();
    align-items: center;

    &__logo {
        margin-left: 300px;
        display: flex;
        align-items: center;
        width: 165px;
        height: 26px;
    }

    &__logo-img {
        width: 165px;
        height: 26px;
    }
}

//.navbar-toggle {
//}
//.bar {
//}

.nav {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    
    //&__info {
    //}

}

.btn {
    margin-left: 2rem;
    width: 18.188rem;
    height: 2.813rem;
    @include flex-space-between-center();

    &__enter {
        display: flex;
        align-items: flex-end;
        font-size: 0.875rem;
    }

   &__registration {
    @include belota-text-font-weight400-font-size18px();
    width: 11.938rem;
    height: 2.813rem;
    font-size: 0.875rem;
    border-radius: 8px;
    border: 2px solid $blue-color;
    background-color: $base-color;
    color: $light-color-white;
   }
}
