@import 'mixins';
@import 'colors';

body {
    background-color: $base-dark-blue;
    @include belota-400-18();
}

* {
    color: $white;
    font-family: 'Bellota Text', cursive;
    li {
        @include reset-list-style();
    }
    a {
        text-decoration: none;
    }
}

.blinking {
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: 100;

    @keyframes blinking {
        50% {
            border-color: linear-gradient(90deg, rgba(16,19,47,1) 0%, rgba(47,128,236,1) 50%, rgba(25,27,45,1) 100%);;
        }
    }
}


.header {
    margin-top: 3rem;

    &__container {
        max-width: 98vw;
        height: 6rem;
    }
}

.navbar {
    font-size: 0.875rem;
    @include flex-row-space-between();
    font-family:  "BellotaText-Bold";
    align-items: center;

    &__logo {
        margin-left: 300px;
        display: flex;
        align-items: center;
        width: 165px;
        height: 26px;
    }

    &__img {
        width: 165px;
        height: 26px;
    }
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.btn {
    margin-left: 2rem;
    width: 18.188rem;
    height: 2.813rem;
    @include flex-space-between-center();

    &__enter {
        display: flex;
        align-items: flex-end;
        font-size: 0.875rem;
    }

    &__registration {
        @include belota-400-18();
        width: 11.938rem;
        height: 2.813rem;
        font-size: 0.875rem;
        border-radius: 8px;
        border: 2px solid $border-blue;
        background-color: $base-dark-blue;
    }
}

.normalize {
    margin: 5rem 2rem;

    &__container{
        padding: .5rem;
    }

    &__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }

    &__picturePart {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
    }

    &__picDescription{
        padding-left: .5rem;
        display: flex;
        align-items: center;
    }

    &__cards {
        @include flex-row-space-between;
        margin-top: 2rem;
    }
    &__cardInnerContainer {
        padding: .7rem;
        margin: .9rem;
        height: 100%;
        background-color: $dark-grey;
        border: 2px solid $border-blue;
        border-radius: 6px;
        &--last {
            position: relative;
        }
    }
    &__card {
        flex: 30% 1 1;
    }
}

.arrowDown {
    position: absolute;
    right: 5%;
    top: 45%;
}

//блок цитаты Ричарда Фербера 

.ferber {
    margin: 2rem 19rem;

    &__container {
        gap: 127px;
        display: inline-flex;
     }
    }

.quotes {
    height: 558px;
    display: flex;
    flex-direction: column;

    &__header {
        margin-top: 56px;}
}

.sentence {
    gap: 40px;
    display: flex;
    flex-direction: column;
   
    &__text {
        font-size: 18px;}
    }


//Конец блока Цитаты Ричарда Фербера