$base-color: #10132F;
$light-color: #FFFFFF;
$dark-color: black;
$blue-color: #2F80EC;

@mixin reset-list-style {
    list-style-type: none;
}

@mixin belota-text-font {
    font-family: 'Bellota Text', cursive;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    

body {
    background-color: $base-color;
    @include belota-text-font;
}

li {
    @include reset-list-style();
}

a {
    color: $light-color;
    text-decoration: none;
}

.header {
    margin-top: 48px;
}
.container {
    max-width: 1292px;
    height: 48px;
}
.navbar {
    font-size: 14px;
    @include header-flex();
    align-items: center;
}

.logo {
    margin-left: 300px;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 165px;
    height: 26px;
}

//.navbar-toggle {
//}
//.bar {
//}

.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    //&__info {
    //}

}

.nav-btn {
    margin-left: 32px;
    width: 291px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-1 {
        display: flex;
        align-items: flex-end;
        font-size: 14px;
    }

   &-2 {
    @include belota-text-font();
    width: 191px;
    height: 45px;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid $blue-color;
    background-color: $base-color;
    color: $light-color;
   }
}
