@mixin reset-list-style {
    list-style-type: none;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-space-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}